/* ------------------------------------------------------------- */
/* ---------------------- Site Container ----------------------- */
/* ------------------------------------------------------------- */

.SiteContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}

/* ------------------------------------------------------------- */
/* ------------------------- Container ------------------------- */
/* ------------------------------------------------------------- */

.Container {
    margin: 0 auto;
    max-width: 1000px;
    width: 90%;
  }

/* ------------------------------------------------------------- */
/* -------------------------- Header --------------------------- */
/* ------------------------------------------------------------- */

.Header {
    --padding-top-bottom: var(--header-padding, 5px);
    top: 0;
    left: 0;
    right: 0;
    z-index: var(--z-index-menu, 1000);
    height: var(--header-height, 43);
    /*background: #ffffff;*/
    background-color: rgb(204, 76, 54);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
	  padding: 5px;
  }
  
.ContainerBox {
    max-width: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    
  }
  
.Logo {
    height: 45px;
    margin-left: 10px;
  }
  
.Nav {
  display: grid;
  background-color: rgb(0, 0, 0);
  grid-template-columns: repeat(5, 1fr);

  list-style-type: none;
  border: 1px solid #555;
  margin: 0;
  padding: 2px;
  border-radius: 10px;
  
  }
  
.NavLink {
  display: block;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  text-decoration: none;  
  text-align: center;
  }
  
.NavLink_active {
  text-align: center;
  background-color: rgb(87, 137, 230);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
}
.NavLink:hover {
  background-color: #555;		
  color: white;
  border-radius: 10px;
}
  
.LoginLink {
    padding: var(--header-padding, 5px) 10px;
    font-size: 20px;
    font-weight: bold;
    color: var(--color-blue, --color-navyblue);
    border-left: 1px solid var(--color-blue, --color-navyblue);
    padding-left: 3%;
    padding-right: 3%;
  }
  
.LoginLink:hover {
    text-decoration: none;
  }
  
/* @media only screen and (max-width: 700px) {
    .Nav {
      display: none;
    }
    .LoginLink {
      display: none;
    }
    .Logo {
      margin-top: 4px;
    }
    .Header {    
      position: fixed;
    }
    body {
      margin-top: 83px;
    }
  } */

/* ------------------------------------------------------------- */
/* ------------------------ Header Old ------------------------- */
/* ------------------------------------------------------------- */

  /* .Header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: #fff;
    border-bottom: 1px solid var(--color-grey, #000);
    margin-bottom: 40px;
  }
  
  .Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }
  
  .Logo {
    color: var(--color-gold, orange);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  
  .Nav {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  .NavLink {
    display: inline-block;
    padding: 5px 10px;
    margin-left: 10px;
    text-transform: uppercase;
    cursor: pointer;
    white-space: nowrap;
    font-size: 14px;
    font-weight: normal;
    color: var(--color-primary, #000000);
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transition: all 0.25s linear;
  }
  
  .NavLink:first-child {
    margin-left: 10px;
  }
  
  .NavLink__active,
  .NavLink:hover {
    color: var(--color-gold, orange);
    border-bottom: 3px solid var(--color-gold, orange);
  } */