@charset 'UTF-8';
@font-face{font-family:'FontAwesome';src:url('font/fontawesome-webfont.eot?v=4.0.1');src:url('font/fontawesome-webfont.eot?#iefix&v=4.0.1') format('embedded-opentype'),url('font/fontawesome-webfont.woff?v=4.0.1') format('woff'),url('font/fontawesome-webfont.ttf?v=4.0.1') format('truetype'),url('font/fontawesome-webfont.svg?v=4.0.1#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}

/*Scroll Bar
/* ---------------------------------------------------------------------------------------*/
	::-webkit-scrollbar-thumb
{
	background-color:#0b3c5d
}
	::-webkit-scrollbar-track
{
	background-color:#14181d
}
	::-webkit-scrollbar
{
	width:5px;
	height:5px;
	cursor:pointer
}
/* ---------------------------------------------------------------------------------------*/

/* Modal Login Button
/* ---------------------------------------------------------------------------------------*/
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
	margin-right: auto;
    display: inline-block;
    border: 1px solid #ccc;
	border-radius: 7px;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button-signin {
    background-color: #2B8FC4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
	border-radius: 7px;
}

/* Set a style for all buttons */
.button-signin {
    background-color: #2B8FC4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
	border-radius: 7px;
}

.button-signin-home {
    background-color: #2B8FC4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
	border-radius: 7px;
	opacity: 0.75;
}

/* Extra styles for the cancel button */
.cancelbtn-signin {
    width: auto;
	border: none;
	border-radius: 5px;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
	background-color: #0b3c5d;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

.container-home {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 10px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #14181d;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 0px solid #888;
	border-radius: 15px;
    width: 80%; /* Could be more or less, depending on screen size */
	opacity: 0.9;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn-signin {
       width: 100%;
    }
}

/* ---------------------------------------------------------------------------------------*/

/*Login Form
/* ---------------------------------------------------------------------------------------*/
form {
    border: 0px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.button-login {
    border: none;
	position: relative;
	display: inline-block;
	background: #2B8FC4;
	padding: 0.4em 2em;
	border-radius: 4px;
	text-decoration: none;
	font-size: 1.2em;
	font-weight: 300;
	color: #FFF !important;
	-moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
	-webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
	-o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
	-ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
	transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
	text-align: center;
}

.button-login:hover
{
		background: #167cb2;
		color: #FFF !important;
}

.imgcontainer-login {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container-login-left {
	position: absolute;
    padding: 16px;
	width: 40%;
}

.container-login-right{
	display: block;
	position: right;
	margin-left: auto;
    padding: 16px;
	width: 40%;
}

.container-forgot_password{
	display: block;
	padding: 16px;
	width: 40%;
}

span.psw-login {
    float: right;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
/* ---------------------------------------------------------------------------------------*/

body
{
	margin: 0;
	padding: 0em;
	line-height: 2em;
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	color: #686868;
}

body, #skel-panels-pageWrapper
{
	background: #101214 url(images/main-bg.png) repeat;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: 300;
	color: #CFCFCF;
}

h2
{
	letter-spacing: -1px;
	font-size: 2.00em;
}

p, ol, ul
{
	margin-top: 1em;
}

p
{
}

a
{
	text-decoration: underline;
	color: #909090;
}

a:hover
{
	text-decoration: none;
}

/* Image Styles */

	.image-style1
	{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}
	
		.image-style2
	{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}		
		.image-style3
	{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
		.image-style4
	{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
		.image-style5
	{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
	
/* Buttons Style 1 */


	.button
	{
		position: relative;
		display: inline-block;
		background: #2B8FC4;
		padding: 0.8em 2em;
		border-radius: 4px;
		text-decoration: none;
		font-size: 1.2em;
		font-weight: 300;
		color: #FFF !important;
		-moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		text-align: center;
	}

	.button:hover
	{
		background: #167cb2;
		color: #FFF !important;
	}

	.button-alt
	{
		padding: 0.9em 2em;
		font-size: 1.5em;
	}

/* List Style 1 */

	ul.style1
	{
	}
	
	ul.style1 li
	{
		padding: 0.75em 0 0.75em 0em;
		background: url(images/bullet-icon.png) no-repeat left 50%;
	}
	
	ul.style1 a
	{
		display: block;
		padding-left: 1.50em;
		text-decoration: none;
		color: #909090;
	}
	
	ul.style1 a:hover
	{
		text-decoration: underline;
	}

/* List Style 2 */

	ul.style2 {
		overflow: hidden;
		margin: 0em;
		padding: 0em;
		list-style: none;
	}
	
	ul.style2 li {
		clear: both;
		padding: 1em 0em 2em 0em;
		border-top: 1px solid #212124;
	}
	
	ul.style2 p
	{
		line-height: 2.20em;
	}
	
	ul.style2 a {
		text-decoration: none;
		color: #909090;
	}
	
	ul.style2 a:hover {
		text-decoration: underline;
	}
	
	
	ul.style2 img {
		float: left;
		margin-right: 1.5em;
		border-radius: 5px;
	}
	
	ul.style2 .first {
		padding-top: 0;
		border-top: none;
	}
	
/* List style 3 */

	ul.style3 {
		margin: 0em;
		padding: 0em 0em 0em 0em;
		list-style: none;
	}
	
	
	ul.style3 li {
		padding: 1.75em 0em 1.50em 0em;
		border-top: 1px solid #212124;
	}
	
	ul.style3 .heading-title {
		font-size: 1.10em;
		font-weight: bold;
		color: #B8B8B8;
	}
	
	ul.style3 .date {
		display: inline-block;
		margin: 0em 1em 1em 0em;
		text-transform: uppercase;
		font-size: .80em;
		background: #2B8FC4;
		border-radius: 5px;
		border: 1px solid #165272;
		box-shadow: 0px 1px 5px rgba(0,0,0,.4);
		color: #FFFFFF;
	}
	
	ul.style3 .date a
	{
		display: inline-block;
		padding: .5em 1em;
		letter-spacing: 1px;
		border-radius: 5px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1.10em;
		font-weight: 400;
		color: #FFFFFF;
	}

	ul.style3 a 
	{
		text-decoration: none;
		color: #909090;
	}
	
	ul.style3 a:hover 
	{
		text-decoration: underline;
	}
	
	ul.style3 .first {
		border-top: none;
	}

/* List style 4 */

	ul.style4 {
		overflow: hidden;
		margin: 0em;
		padding: 0em;
		list-style: none;
	}
	
	ul.style4 li {
		padding: 0.50em 0em;
		border-top: 1px solid #212124;
	}
	
	ul.style4 a {
		padding-left: 1em;
		background: url(images/list-bullet.png) no-repeat left 50%;
		text-decoration: none;
		color: #909090;
	}
	
	ul.style4 a:hover {
		text-decoration: underline;
		color: #868686;
	}
	
	ul.style4 h3
	{
		padding: 0 0 0.75em 0;
		font-size: 1.10em;
		font-weight: 700;
		color: #B8B8B8;
	}
	
	
	ul.style4 .first {
		padding-top: 0;
		border-top: none;
	}

/* List style 5 */

	ul.style5 
	{
		margin-left: 4em;
	}
	
	ul.style5 li
	{
		line-height: 1.75em;
		list-style: decimal;
	}



/* Icons */
	.fa
	{
		text-decoration: none;
	}

		.fa.solo
		{
		}
		
			.fa.solo span
			{
				display: none;
			}

		.fa:before
		{
			display:inline-block;
			font-family: FontAwesome;
			font-size: 1.25em;
			text-decoration: none;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing:antialiased;
			-moz-osx-font-smoothing:grayscale;
		}

		.fa-lg{font-size:1.3333333333333333em;line-height:.75em;vertical-align:-15%}
		.fa-2x{font-size:2em}
		.fa-3x{font-size:3em}
		.fa-4x{font-size:4em}
		.fa-5x{font-size:5em}
		.fa-fw{width:1.2857142857142858em;text-align:center}
		.fa-ul{padding-left:0;margin-left:2.142857142857143em;list-style-type:none}.fa-ul>li{position:relative}
		.fa-li{position:absolute;left:-2.142857142857143em;width:2.142857142857143em;top:.14285714285714285em;text-align:center}.fa-li.fa-lg{left:-1.8571428571428572em}
		.fa-border{padding:.2em .25em .15em;border:solid .08em #eee;border-radius:.1em}
		.pull-right{float:right}
		.pull-left{float:left}
		.fa.pull-left{margin-right:.3em}
		.fa.pull-right{margin-left:.3em}
		.fa-spin{-webkit-animation:spin 2s infinite linear;-moz-animation:spin 2s infinite linear;-o-animation:spin 2s infinite linear;animation:spin 2s infinite linear}
		@-moz-keyframes spin{0%{-moz-transform:rotate(0deg)} 100%{-moz-transform:rotate(359deg)}}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg)} 100%{-webkit-transform:rotate(359deg)}}@-o-keyframes spin{0%{-o-transform:rotate(0deg)} 100%{-o-transform:rotate(359deg)}}@-ms-keyframes spin{0%{-ms-transform:rotate(0deg)} 100%{-ms-transform:rotate(359deg)}}@keyframes spin{0%{transform:rotate(0deg)} 100%{transform:rotate(359deg)}}.fa-rotate-90{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg)}
		.fa-rotate-180{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}
		.fa-rotate-270{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);-webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);-ms-transform:rotate(270deg);-o-transform:rotate(270deg);transform:rotate(270deg)}
		.fa-flip-horizontal{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);-webkit-transform:scale(-1, 1);-moz-transform:scale(-1, 1);-ms-transform:scale(-1, 1);-o-transform:scale(-1, 1);transform:scale(-1, 1)}
		.fa-flip-vertical{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);-webkit-transform:scale(1, -1);-moz-transform:scale(1, -1);-ms-transform:scale(1, -1);-o-transform:scale(1, -1);transform:scale(1, -1)}
		.fa-stack{position:relative;display:inline-block;width:2em;height:2em;line-height:2em;vertical-align:middle}
		.fa-stack-1x,.fa-stack-2x{position:absolute;left:0;width:100%;text-align:center}
		.fa-stack-1x{line-height:inherit}
		.fa-stack-2x{font-size:2em}
		.fa-inverse{color:#fff}
		.fa-lock:before{content:"\f023"}
		.fa-spinner:before{content:"\f110"}
		.fa-code-fork:before{content:"\f126"}
		
	/* FA Icons */
		
		.pennant
		{
			display: inline-block;
			margin-bottom: 0.50em;
			font-size: 3em;
			color: #FFF;
		}

/* Header */

	#header-wrapper
	{
		background: url(../images/homebanner.jpg) no-repeat center top;
		background-size: cover;
		position: relative;
		filter: blur(0.1px);
	}
	
	
	#header-wrapper:before
	{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(60,50,70,0.5);
	}
	
	#header {
		position: relative;
		z-index: 1;
	}
	
	header
	{
		margin-bottom: 3em;
		position: relative;
	}

	header h2
	{
		display: block;
		margin: 0;
		padding: 0;
	}

	header .byline
	{
		display: block;
		margin: 1.50em 0em;
		line-height: 2em;
		font-weight: 200;
		color: rgba(255,255,255,.8);
	}

/* Banner */

	#banner
	{
		overflow: hidden;
		padding: 10em 0em;
		text-align: center;
		z-index: 1;
		position: relative;
	}

	#banner header h3
	{
		text-transform: uppercase;
		font-size: 3.0em;
		color: #FFF;
	}
	
	#banner header h2
	{
		text-transform: uppercase;
		font-size: 2.5em;
		color: #FFF;
	}

	#banner header .byline
	{
		padding: 0em 5em;
		font-size: 1.50em;
	}
	
	#banner .button
	{
		margin-top: 1em;
	}

/* Wrapper */

	#wrapper
	{
		padding: 5em 0em 3em 0em;
	}

	#page
	{	
		padding: 5em 0em 3em 0em;
	}

/* Content */

	#content
	{
	}

	#content a img
	{
		display: block;
		width: 100%;
		margin-bottom: 1.50em;
		border-radius: 10px;
	}

	#content .big-title
	{
		font-size: 3.00em;
	}
	
	#content .main-title
	{
		font-size: 2.00em;
	}
	
	#content .sub-title
	{
		letter-spacing: 0.065em;
		font-size: 1.25em;
	}
	
	#content .main-paragraph
	{
		font-size: 2.00em;
	}
	
	#content .button
	{
		margin-top: 2em;
	}
	
	#content .small-paragraph
	{
		line-height: 145%;
	}

/* Sidebar */

	#sidebar
	{
	}
	
	#sidebar h2
	{
		margin-bottom: 1em;
	}

	#sidebar #box1
	{
		margin-bottom: 3em;
	}
	
	#sidebar #box2 .button
	{
		margin-top: 0;
	}
	
/* Two Column Area */

	#two-column
	{
		overflow: hidden;
		margin-top: 4em;
		padding: 4em 0em 0em 0em;
		border-top: 1px solid #212124;
	}

/* Featured Area */

	#featured-wrapper
	{
		position: relative;
		padding: 6em 0em;
		background: #0c0e0f;
		text-align: center;
	}
	
	#featured-wrapper .button
	{
		margin-top: 2em;
	}
	
	#featured-content
	{
		
	}

	#featured-content h2
	{
	}

	#featured-content img
	{
		float: left;
		margin: 0.85em 2em 0em 0em;
	}




/* Copyright */

	#copyright
	{
		overflow: hidden;
		padding: 3em 0em 6em 0em;
		border-top: 1px solid #212124;
		text-align: center;
	}
	
	#copyright p
	{
		font-size: 1em;
	}
	
	#copyright a
	{
		color: #949494;
	}
	
	#copyright a:hover
	{
		text-decoration: none;
	}
	