<div class="border border-bottom-0">
  <div class="bg-secondary d-flex p-3 text-center text-light">
    <div class="col-2 col-sm-1">#</div>
    <div class="col-6 col-sm-5">Student</div>
    <div class="d-none d-md-block col-md-2">Birthdate</div>
    <div class="d-none d-sm-block col-sm-3 col-md-2">Faculty</div>
    <div class="col-4 col-sm-3 col-md-2">Action</div>
  </div>
  <div class="tbody">
    <!-- Strukturalna direktiva (*ngFor) -->
    <!-- [] - Property binding
    () - Event binding -->
    <!-- *ngFor="let student of students; let i = index"  Zamjena (async) Obesrvable ili Promise-->
    <!-- Nemoj mi nista radi students coda dok mi ovo nezavrsi -->
    <app-student-row
      class="d-flex p-3 align-items-center text-center border-bottom student-row"
      *ngFor="let student of (student | async); let i = index"
      [ngClass]="{ active: !!student.marked }"
      [index]="i"
      [student]="student"
      (click)="viewStudent(student.id)"
    ></app-student-row>
  </div>
</div>
