<div class="container">
  <div class="content">
    <div>
      <!--<h1>Hello World!</h1>-->
      <h1>{{ title }}</h1>
    </div>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Full Name</th>
            <th scope="col">Birth Date</th>
            <th scope="col">Faculty</th>
          </tr>
        </thead>
        <tbody>
          <tr>
             <!-- *ngFor Direktiva koja angularu omgucava angularu da radi sa js codom-->
             <!-- [ngClass] - Property Binding -->
            <tr
            class="roww"
            *ngFor="let student of students; let i = index;"
            [ngClass]="{'active': !!student.marked}"
            >
            <th scope="row">{{ i + 1 }}</th> <!-- "{{" - String Interplation-->
            <td>{{ student.fullname }}</td>
            <td>{{ student.birthdate | date:'dd.MM.yyy' }}</td>
            <td>{{ student.faculty }}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
